img{
    width: 300px;
    height: 300px;
}
body{
    background-image: url(/javascript.01/fotos/4054966.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
   }