.card{
    background-color: cyan;
    border: none;
    border-radius: 15px;
    width: 300px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s, background 0.5s;
    box-shadow: 0 0 15px rgba(255, 0, 122, 0.4), 0 0 15px rgba(0, 123, 255, 0.4);
}
i{
    font-size: 50px;
    margin-bottom: 15px;
    color: black;
}
p{
    color: black;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.card a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color 0.3s;
}
body{
 background-image: url(/javascript.01/fotos/4054966.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
